body,
html {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.frame {
  width: 100%;
  max-width: 1366px;
  height: 100%;
}

.footer {
  height: 400px;
}

.left-wave {
  bottom: -110px;
}

.right-wave {
  bottom: 0;
}

.footer-btn {
  padding: 16px 40px;
  border-radius: 35px;
  background: #28388c;
  color: white;
  user-select: none;
  cursor: pointer;
  font-family: montserrat;
  display: inline-block;
  transition: all 0.3s;
}

.footer-btn:hover {
  background: #182253;
}

@media screen and (max-width: 768px) {
  .right-wave {
    bottom: -139px;
  }

  .left-wave {
    bottom: 30px;
  }
}
